*
!.gitignore
!CLAUDE.md
!julia/
!julia/**
!nvim/
!nvim/**
!kitty/
!kitty/**
!zsh/
!zsh/**
!git/
!git/config
!cosmic/
!cosmic/com.system76.CosmicComp/
!cosmic/com.system76.CosmicComp/v1/
!cosmic/com.system76.CosmicComp/v1/xkb_config

nvim-pack-lock.json
